# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/
*.sqlite3
db.sqlite3

# Django
*.log
local_settings.py

# Svelte
frontend/node_modules/
frontend/public/build/
frontend/.svelte-kit/
frontend/build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
